*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Background*/
.video{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: 0;

}

/*Main Box*/
.container{
    height: 100%;
    width: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    
}

.main-section{
    height: 600px;
    width: 1000px;
    /* border: 5px solid white; */
    border-radius: 20px;
    backdrop-filter: blur(20px);
    z-index: 1;
    margin-top: 80px;
    display: flex;
}
.sub-1{
    height: 100%;
    width: 50%;
    position: relative;
}
.sub-2{
    background-color: aliceblue;
    height: 100%;
    width: 50%;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.elem-1{
    position: absolute;
    top: 45%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: white;
}
.signup{
    position: absolute;
    top: 98px;
    left: -4%;
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    background-origin: content-box;

}
.elem-2{
    position: absolute;
    top: 70px;
    left: 175px;
}

.inp{
    position: absolute;
    top: 150px;
    right: 65px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.2s;
    outline: none;
    width: 75%;
    font-size: 20px;
    border-radius: 4px;
}
.pass{
    top: 230px;
}
#inp:focus{
    border: none;
    border: 4px solid #ccc;
}
.apply{
    color: rgb(0, 85, 255);
}
.signin{
    top: 360px ;
    border: none;
    background-color:rgb(0, 157, 255);
    color: white;
    
}
.box{
    position: absolute;
    height: 70px;
    left: 60px;
    width: 75%;
    border-radius: 4px;
    top: 470px;
    display: flex;
    gap: 15px;
}

.box > svg{
    height: 35px;
    width: 85px;
    margin-top: 17px;
    color: rgb(0, 157, 255);
    padding: 20px;
    border: 2px solid ;
    border-radius: 50%;
}
.head{
    font-size: 45px;
    color:rgb(0, 157, 255);
}
.checkbox{
    position: absolute;
    top: 320px;
    right: 425px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
}
.txt{
    left: 60px;
    top: 300px;
}
.other{
    top: 420px;
    text-align: center;
    border: none;
    color: rgb(0, 157, 255);
    left: 60px;
}


